            <!-- BEGIN FOOTER  -->
            <footer>
                    <div class="container">
                        <div class="row text-center">
                            <p data-animation="fadeIn fast" data-delay="1">Copyright 2018 Empório Tupã -  Desenvolvido por <a href="https://exorde.com.br">Exorde</a></p>
                        </div>
                    </div>
                    <div class="action-to-scroll">
                        <a href="tel:111111111" class="btn-telephone"><i class="icon-phone"></i></a>
                        <a href="#home" class="btn-top"><i class="icon-circle-up"></i></a>
                    </div>
            </footer>
            <!-- END FOOTER  -->