            <!-- BEGIN TOP -->
            <div class="main-top">
                    <!-- BEGIN TOP-BAR -->
                    <div class="top-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-xs-7 text-left">
                                    <span class="quick-order">
                                        <i class="icon-phone"></i> <strong class="hidden-xs">contato: </strong><a href="tel: 14 99700-8686"> (14) 99700-8686</a>
                                    </span>
                                </div>
                                <div class="col-md-6 col-xs-5 text-right">
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/emporiotupa/"><i class="icon icon-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/emporiotupabauru/"><i class="icon icon-facebook3"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TOP-BAR -->

                    <!-- BEGIN NAVBAR -->
                    <nav class="navbar navbar-default" role="navigation">
                            <div class="container menu-shadow">
                                    <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-butcher">
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                            </button>
                                            <div class="logo">
                                                <a href="#" class="navbar-brand">Empório Tupá</a>
                                            </div>
                                    </div>
                                    <div class="navbar-collapse collapse" id="navbar-butcher">
                                            <ul class="nav navbar-nav navbar-right">
                                                    <li><a href="#home" data-toggle="dropdown"><i class="icon-top-menu icon-home hidden-xs"></i>Home</a></li>
                                                    <li><a href="#about-us"><i class="icon-top-menu icon-about-us hidden-xs"></i>Sobre nós</a></li>
                                                    <li><a href="#menu"><i class="icon-top-menu icon-food hidden-xs"></i>Produtos</a></li>
                                                    <li><a href="#gallery"><i class="icon-top-menu icon-gallery hidden-xs"></i>Galeria</a></li>
                                                    <li><a href="#reservation"><i class="icon-top-menu icon-mail hidden-xs"></i>Contato</a></li>
                                            </ul>
                                    </div>
                            </div>
                    </nav>
                    <!-- END NAVBAR -->
            </div>
            <!-- END TOP -->


            <!-- BEGIN HEADER -->
            <header id="header" data-hash="home" class="waypoint">
                <div class="tp-banner-container">
                    <div class="tp-banner" >
                        <ul>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Header">
                                <img src="img/header/header.jpg" class="rs-parallaxlevel-1" alt="Bem-vindo ao Empório Tupá" data-bgposition="center center" data-kenburns="on" data-duration="8000" data-ease="Power0.easeInOut" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center center" >
<!--                                 <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="-185"
                                        data-start="2500"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/the-butcher-written.png" alt="Written" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-70"
                                            data-lazyload="img/the-butcher-written.png">
                                </div> -->

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="-110"
                                        data-start="1900"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:2500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/bull.png" alt="Bull" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-90"
                                            data-lazyload="img/bull.png">
                                </div>

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="45"
                                        data-hoffset="00"
                                        data-start="1400"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/steak-house.png" alt="Steak House" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0"
                                            data-opacity="0"
                                            data-translatey="-50"
                                            data-lazyload="img/steak-house.png">
                                </div>

<!--                                 <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="110"
                                        data-hoffset="20"
                                        data-start="1000"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/fresh-meat.png" alt="Fresh Meat" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-60"
                                            data-lazyload="img/fresh-meat.png">
                                </div> -->

                              <!--   <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="160"
                                        data-hoffset="20"
                                        data-start="900"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/stars.png" alt="Stars" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-90"
                                            data-lazyload="img/stars.png">
                                </div> -->

                                <h1 class="tp-caption lft tp-item-1-title rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-hoffset="0"
                                data-voffset="250"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:-50px;opacity:0;s:150;e:easeOutBack;"
                                data-transform_out="auto:auto;s:50;e:Power2.easeOut;"
                                data-start="1000"
                                data-splitin="chars"
                                data-splitout="chars"
                                data-responsive_offset="on"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                 data-end="16250" >Produtos de origem regional,<br>de qualidade internacional.</h1>

                                <!-- <div class="tp-caption lfl tp-item-1 bg-main-color rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="300"
                                        data-speed="200"
                                        data-start="4800"
                                        data-transform_idle="o:1;"
                                        data-transform_in="opacity:0;s:300;e:Power2.easeIn;"
                                        data-transform_out="y:50px;opacity:0;s:300;e:Power2.easeOut;s:90000;e:Power2.easeOut;"
                                        data-easing="Power3.easeInOut">
                                </div> -->
                                <h6 class="tp-caption tp-item-2-subtitle  tp-resizeme rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-voffset="350"
                                data-hoffset="0"
                                data-speed="300"
                                data-start="2500"
                                data-easing="Power3.easeInOut"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="x:left;s:400;e:Power3.easeInOut;"
                                data-transform_out="opacity:0;s:300;e:Linear.easeNone;s:300;e:Linear.easeNone;" >
                                    Entre em contato conosco e saiba quais são os produtos disponíveis nesta temporada.
                                </h6>
                            </li>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Header">
                                <img src="img/header/header-2.jpg" class="rs-parallaxlevel-1" alt="Welcome to Our Steak House" data-bgposition="center center" data-kenburns="on" data-duration="8000" data-ease="Power0.easeInOut" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center center" >
<!--                                 <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="-185"
                                        data-start="2500"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/the-butcher-written.png" alt="Written" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-70">
                                </div> -->
                                                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="-110"
                                        data-start="1900"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:2500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/bull.png" alt="Bull" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-90"
                                            data-lazyload="img/bull.png">
                                </div>

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="45"
                                        data-hoffset="00"
                                        data-start="1400"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/steak-house.png" alt="Steak House" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0"
                                            data-opacity="0"
                                            data-translatey="-50"
                                            data-lazyload="img/steak-house.png">
                                </div>
                                <h1 class="tp-caption lft tp-item-1-title rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-hoffset="0"
                                data-voffset="250"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:-50px;opacity:0;s:150;e:easeOutBack;"
                                data-transform_out="auto:auto;s:50;e:Power2.easeOut;"
                                data-start="1000"
                                data-splitin="chars"
                                data-splitout="chars"
                                data-responsive_offset="on"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                 data-end="16250" >Produtos de origem regional,<br>de qualidade internacional.</h1>

                                <h6 class="tp-caption tp-item-2-subtitle  tp-resizeme rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-voffset="350"
                                data-hoffset="0"
                                data-speed="300"
                                data-start="2500"
                                data-easing="Power3.easeInOut"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="x:left;s:400;e:Power3.easeInOut;"
                                data-transform_out="opacity:0;s:300;e:Linear.easeNone;s:300;e:Linear.easeNone;" >
                                    Entre em contato conosco e saiba quais são os produtos disponíveis nesta temporada.
                                </h6>
                            </li>
<!--
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Header">
                                <img src="img/header/header-2.jpg" class="rs-parallaxlevel-1" alt="Welcome to Our Steak House" data-bgposition="center center" data-kenburns="on" data-duration="8000" data-ease="Power0.easeInOut" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center center" >
                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="-70"
                                        data-start="1900"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:2500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/bull.png" alt="Bull" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-90">
                                </div>

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="45"
                                        data-hoffset="20"
                                        data-start="1400"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/steak-house.png" alt="Steak House" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0"
                                            data-opacity="0"
                                            data-translatey="-50">
                                </div>

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="110"
                                        data-hoffset="20"
                                        data-start="1000"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/fresh-meat.png" alt="Fresh Meat" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-60">
                                </div>

                                <div class="tp-caption rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="160"
                                        data-hoffset="20"
                                        data-start="900"
                                        data-speed="1500"
                                        data-easing="Expo.easeOut"
                                        data-elementdelay="0.5"
                                        data-endspeed="400"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[-100%];opacity:0;s:1500;e:Expo.easeOut;"
                                        data-transform_out="auto:auto;s:400;e:Linear.easeNone;"
                                        data-endeasing="Linear.easeNone">
                                        <img src="img/stars.png" alt="Stars" class="animateme"
                                            data-when="exit"
                                            data-from="0"
                                            data-to="0.5"
                                            data-opacity="0"
                                            data-translatey="-90">
                                </div>

                                <h1 class="tp-caption lft tp-item-1-title rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-hoffset="0"
                                data-voffset="250"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:-50px;opacity:0;s:150;e:easeOutBack;"
                                data-transform_out="auto:auto;s:50;e:Power2.easeOut;"
                                data-start="2000"
                                data-splitin="chars"
                                data-splitout="chars"
                                data-responsive_offset="on"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                 data-end="7250" >Welcome to Our Steak House</h1>

                                <div class="tp-caption lfl tp-item-1 bg-main-color rs-parallaxlevel-2"
                                        data-x="center"
                                        data-y="center"
                                        data-voffset="300"
                                        data-speed="200"
                                        data-start="4800"
                                        data-transform_idle="o:1;"
                                        data-transform_in="opacity:0;s:300;e:Power2.easeIn;"
                                        data-transform_out="y:50px;opacity:0;s:300;e:Power2.easeOut;s:300;e:Power2.easeOut;"
                                        data-easing="Power3.easeInOut">
                                </div>
                                <h6 class="tp-caption tp-item-2-subtitle  tp-resizeme rs-parallaxlevel-2 text-shadow-style"
                                data-x="center"
                                data-y="center"
                                data-voffset="350"
                                data-hoffset="0"
                                data-speed="300"
                                data-start="2500"
                                data-easing="Power3.easeInOut"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="x:left;s:400;e:Power3.easeInOut;"
                                data-transform_out="opacity:0;s:300;e:Linear.easeNone;s:300;e:Linear.easeNone;" >
                                    Try Our Delicious Beef for The first Time: Take your Reservation at 135.364.528
                                </h6>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <a class="hidden-xs icon-start" href="#about" data-animation="fadeIn fast" data-delay="9"><img src="img/start.png" alt="start"/></a>
            </header>
            <!-- END HEADER -->