
        <title>{{ site.title }}</title>
        <meta name="keywords" content="Empório tupá, queijo canastra, linguiça blumenau, rapadura artesanal, comida artesanal, comida regional, café arábico, café gourmet, queijo gourmet, doces da fazenda, comidas da fazenda, produtos regionais." />
        <meta name="description" content="A Empório Tupá trás os produtos regionais de qualidade internacional pra sua mesa. Todo o carinho e tradição de gerações de famílias que produzem alimentos cheios de qualidade.">
        <meta name="author" content="Exorde">
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1,requiresActiveX=true'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="js/revolution/css/settings.css">
        <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css" media="screen">
        <link rel="stylesheet" href="js/owl-carousel/owl.theme.css" media="screen">
        <link rel="stylesheet" href="js/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="css/animated.min.css" media="screen" />

        <!-- Color Swicher -->
        <link rel="alternate stylesheet" href="css/colors/light.min.css" title="light"/>
        <link rel="alternate stylesheet" href="css/colors/turtledove.min.css" title="turtledove"/>
        <link rel="alternate stylesheet" href="css/colors/darkbrown.min.css" title="darkbrown"/>
        <link rel="alternate stylesheet" href="css/colors/zephir.min.css" title="zephir"/>
        <!-- End Color Swicher -->

        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon-57x57-precomposed.png" type="image/png">
        <link rel="apple-touch-icon" href="img/apple-touch-icon-72x72-precomposed.png" type="image/png">
        <link rel="apple-touch-icon" href="img/apple-touch-icon-114x114-precomposed.png" type="image/png">
        <link rel="apple-touch-icon" href="img/apple-touch-icon-144x144-precomposed.png" type="image/png">
