<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="wrapper">
            {% include header.html %}
            <!-- BEGIN ABOUT US SECTION -->
            <section id="about" data-hash="about-us" class="waypoint">
                <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="headline-group">
                                    <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-about-us animated"></i>
                                    <h2 class="text-shadow-style" data-animation="fadeInUp fast" data-delay="0.2">Alimentos regionais, em sua casa.</h2>
                                    <h6 data-animation="fadeInUp fast" data-delay="0.5">Trazemos toda a bagagem e herança de sabores de produtos regionais para a sua mesa.</h6>
                                </div>
                            </div>
                            <div class="member-image offset-top-bottom col-md-6 col-xs-12 col-sm-12 hidden-sm hidden-xs" data-animation="fadeInLeft fast" data-delay="0.8">
                                <figure>
                                    <img src="img/chef.jpg" alt="Empório Tupá" />
                                </figure>
                            </div>
                            <div class="member-intro offset-top-bottom col-md-6 col-xs-12 col-sm-12" data-animation="fadeInRight fast" data-delay="0.8">
                                <div class="avatar">
                                    <figure>
                                        <img src='img/the-butcher-chef.png' alt='Kevin The Butcher Red'/>
                                    </figure>
                                    <h3>Queijos da canastra, embutidos, doces caseiros e outras tradições!</h3>
                                    <p>Especialistas na área do sabor</p>
                                </div>
                                <div class="member-description">
                                    <p>O Canastra é um queijo produzido há cerca de 200 anos na região da Serra da Canastra em Minas Gerais. É um queijo de nível internacional, vencedor de concursos e utilizado por consagrados chefes de cozinha.
                                    <br> Sua receita é baseada na de queijos portugueses produzidos com leite cru, ou seja, sem pasteurização. Isso confere textura e sabor muito equilibrados. Também é considerado um alimento probiótico, benéfico para a flora intestinal e para o sistema imunológico.</br> <br>O Canastra pode ser consumido fresco, mas é mais apreciado com maturação (cura) de semanas ou meses. Por isso aprendemos a maturar esse queijo desde nossas primeiras viagens para a Serra da Canastra na década de 1990.</br><br>Até 2013 o comércio do Canastra era proibido fora do estado de Minas Gerais. Após essa regulamentação, passamos a comercializá-lo escolhendo apenas os queijos dos melhores produtores, de origem garantida, com certificação de normas técnicas e sanitárias.</br></br>Estamos a disposição para degustação e maiores informações sobre o produto.</p>
                                </div>
                            </div>
                        </div>
                </div>
              <!--   <div id="daily-menu" class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="headline-group">
                                    <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-daily-menu"></i>
                                    <h2 data-animation="fadeInUp fast" data-delay="0.2">Daily Menu</h2>
                                    <h6 data-animation="fadeInUp fast" data-delay="0.5">Discover Our Daily Dishes - Delicious Meat!</h6>
                                </div>
                            </div>
                            <div class="daily-menu-item offset-top-bottom col-md-4 col-sm-4 col-xs-12" data-animation="fadeInLeft fast" data-delay="0.8">
                                <figure>
                                    <img src="img/menu/daily-menu-1.jpg" alt="Daily Menu 1" />
                                    <figcaption>
                                        <div class="overlay">
                                            <div class="overlay-inner text-center">
                                                <i class="headline-icon icon-daily-menu"></i>
                                                <h3>Steak</h3>
                                                <span>$19.90</span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="daily-menu-item offset-top-bottom col-md-4 col-sm-4 col-xs-12" data-animation="fadeInUp fast" data-delay="0.8">
                                 <figure>
                                    <img src="img/menu/daily-menu-2.jpg" alt="Daily Menu 2"/>
                                    <figcaption>
                                        <div class="overlay">
                                            <div class="overlay-inner text-center">
                                                <i class="headline-icon icon-daily-menu"></i>
                                                <h3>Steak</h3>
                                                <span>$19.90</span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="daily-menu-item offset-top-bottom col-md-4 col-sm-4 col-xs-12" data-animation="fadeInRight fast" data-delay="0.8">
                                 <figure>
                                    <img src="img/menu/daily-menu-3.jpg" alt="Daily Menu 3"/>
                                    <figcaption>
                                        <div class="overlay">
                                            <div class="overlay-inner text-center">
                                                <i class="headline-icon icon-daily-menu"></i>
                                                <h3>Steak</h3>
                                                <span>$19.90</span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                </div>
            </section> -->
            <!-- END ABOUT US SECTION -->

            <!-- BEGIN MENU SECTION -->
            <section id="our-menu" data-hash="menu" class="waypoint">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="headline-group">
                                <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-our-offers"></i>
                                <h2 data-animation="fadeInUp fast" data-delay="0.2">Nossos produtos</h2>
                                <h6 data-animation="fadeInUp fast" data-delay="0.5">Consulte sempre nossas disponibilidade, pois nossos produtos são frescos e sazonais.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                        <div class="our-menu-food offset-top-bottom col-md-12 our-menu-bg border">
                            <div class="our-menu-food-list col-md-6 col-sm-12 col-xs-12" data-animation="fadeInLeft fast" data-delay="0.8">
                                <h3>Queijos</h3>
                                <ul>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-12 text-center">
                                         <!--    <i class="icon-sirloin"></i> -->
                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-10">
                                            <h4>Queijo da Serra da Canastra <!-- <i class="our-menu-food-new-offer icon-new-offer"></i> --> <span class="our-menu-food-price">R$ 90,00</span></h4>
                                            <p class="text">Queijo de receita centenária, produzido unicamente na região da canastra dando sabor e qualidade inconfundível, sendo premiado em vários paises onde participou competindo com queijos de diferentes locais do mundo.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-12 text-center">
                                       <!--      <i class="icon-porterhouse"></i> -->
                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-10">
                                            <h4>Porterhouse <span class="our-menu-food-price">$ 17.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
                                          <!--   <i class="icon-tbone"></i> -->
                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>T-Bone <span class="our-menu-food-price">$ 24.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-club-steak"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>Club Steak <span class="our-menu-food-price">$ 24.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-short-ribs"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>Short Ribs <i class="our-menu-food-new-offer icon-new-offer"></i> <span class="our-menu-food-price">$ 18.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="our-menu-food-list col-md-6 col-sm-12 col-xs-12" data-animation="fadeInRight fast" data-delay="0.8">
                                <h3>Our Clients Choices</h3>
                                <ul>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-premium-burger"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>Premium Burger <span class="our-menu-food-price">$ 15.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-tbone"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>T-Bone <span class="our-menu-food-price">$ 24.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-special-salad"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>Special Salad <i class="our-menu-food-new-offer icon-new-offer"></i> <span class="our-menu-food-price">$ 9.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-12 text-center">
<!--                                             <i class="icon-fried-potatoes-sticks"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-10">
                                            <h4>Fried Potatoes <span class="our-menu-food-price">$ 8.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                    <li class="col-xs-12">
                                        <div class="our-menu-food-icon col-md-2 col-xs-10 text-center">
<!--                                             <i class="icon-hot-bread"></i>
 -->                                        </div>
                                        <div class="our-menu-food-desc col-md-10 col-xs-12">
                                            <h4>Hot Bread <span class="our-menu-food-price">$ 3.50</span></h4>
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget mollis urna, imperdiet malesuada eros. Nunc eget mollis urna, imperdiet malesuada eros.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="ajax-content-menu"></div>
                            <div class="row text-center our-menu-btn-complete-menu">
                                <a href="#" data-url="ajax_complete_menu.html" class="button-style1" data-animation="fadeInUp fast" data-delay="1">Complete Menu</a>
                            </div>
                        </div>
                </div>
            </section>
            <!-- END MENU SECTION -->

            <!-- BEGIN OUR SERVICES SECTION -->
            <section id="our-services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="headline-group">
                                <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-services"></i>
                                <h2 data-animation="fadeInUp fast" data-delay="0.2">Our Services</h2>
                                <h6 data-animation="fadeInUp fast" data-delay="0.5">Feed your Needs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parallax-wrapper offset-top-bottom">
                    <div class="parallax" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-500">
                        <div class="container">
                            <div class="row">
                                <div class="owl-carousel">
                                    <div class="service" data-animation="fadeInLeft fast" data-delay="0.8">
                                        <div class="service-content">
                                            <div class="service-content-mask">
                                                   <div class="service-content-mask-table">
                                                       <a href="#" class="service-content-mask-table-cell">
                                                           <i class="icon-breakfast"></i>
                                                           <h3 class="service-heading-title">Breakfast</h3>
                                                           <p>Begin a Beautiful Day</p>
                                                       </a>
                                                   </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service" data-animation="fadeInUp fast" data-delay="0.8">
                                        <div class="service-content">
                                            <div class="service-content-mask">
                                                   <div class="service-content-mask-table">
                                                       <a href="#" class="service-content-mask-table-cell">
                                                           <i class="icon-lunch"></i>
                                                           <h3 class="service-heading-title">Lunch</h3>
                                                           <p>Let's Have gorgeous Break</p>
                                                       </a>
                                                   </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service" data-animation="fadeInRight fast" data-delay="0.8">
                                        <div class="service-content">
                                            <div class="service-content-mask">
                                                   <div class="service-content-mask-table">
                                                       <a href="#" class="service-content-mask-table-cell">
                                                           <i class="icon-dinner"></i>
                                                           <h3 class="service-heading-title">Dinner</h3>
                                                           <p>Crown your Day</p>
                                                       </a>
                                                   </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END OUR SERVICES SECTION -->

            <!-- BEGIN GALLERY SECTION -->
            <section id="our-gallery" data-hash="gallery" class="waypoint">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="headline-group">
                                <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-gallery"></i>
                                <h2 data-animation="fadeInUp fast" data-delay="0.2">See the Gallery</h2>
                                <h6 data-animation="fadeInUp fast" data-delay="0.5">A close up of Our Steaks and Salads</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div id="photo">
                            <a href="img/gallery/lightbox/photo-2.jpg" class="photo-item" data-animation="fadeInLeft fast" data-delay="0.8">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-2.jpg" alt="photo 2"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-1.jpg" class="photo-item photo-item-medium" data-animation="fadeInDown fast" data-delay="1.2">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-1.jpg" alt="photo 1"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-3.jpg" class="photo-item" data-animation="fadeInLeft fast" data-delay="0.8">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-3.jpg" alt="photo 3"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-4.jpg" class="photo-item" data-animation="fadeInRight fast" data-delay="0.9">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-4.jpg" alt="photo 4"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-6.jpg" class="photo-item" data-animation="fadeInLeft fast" data-delay="1.1">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-6.jpg" alt="photo 6"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-7.jpg" class="photo-item" data-animation="fadeInUp fast" data-delay="1.1">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-7.jpg" alt="photo 7"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="img/gallery/lightbox/photo-8.jpg" class="photo-item photo-item-medium" data-animation="fadeInRight fast" data-delay="1.1">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-8.jpg" alt="photo 8"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-5.jpg" class="photo-item" data-animation="fadeInRight fast" data-delay="0.9">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-5.jpg" alt="photo 4"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="img/gallery/lightbox/photo-9.jpg" class="photo-item" data-animation="fadeInRight fast" data-delay="0.9">
                                <div class="photo-item-padding"></div>
                                <img src="img/gallery/photo-9.jpg" alt="photo 9"/>
                                <div class="photo-item-hover">
                                    <div class="overlay">
                                        <div class="overlay-inner text-center">
                                            <i class="headline-icon icon-services"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END GALLERY SECTION -->

            <!-- BEGIN BLOG SECTION -->
            <section id="our-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="headline-group">
                                <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-blog"></i>
                                <h2 data-animation="fadeInUp fast" data-delay="0.2">Our Blog</h2>
                                <h6 data-animation="fadeInUp fast" data-delay="0.5">Keep Update on our special Recipes</h6>
                            </div>
                        </div>
                        <a href="#" class="blog-item offset-top-bottom col-md-6 col-sm-6 col-xs-12" data-animation="fadeInLeft fast" data-delay="0.8">
                            <figure class="text-center">
                                <img src="img/blog/blog-1.jpg" alt="Blog 1" />
                                <figcaption>
                                    <div class="blog-item-image">
                                        <div class="overlay">
                                            <div class="overlay-inner">
                                                <i class="headline-icon">
                                                    <span>25</span>May
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-item-preview">
                                        <div class="overlay">
                                            <div class="overlay-inner">
                                                    <h3>How to BBQ right</h3>
                                                    <span class="blog-preview-date"><i class="icon icon-clock"></i> <time datetime="2015-05-25">May, 25th 2015</time></span>
                                                    <span class="blog-preview-author"><i class="icon icon-user"></i> by John Fish</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="#" class="blog-item offset-top-bottom col-md-6 col-sm-6 col-xs-12" data-animation="fadeInRight fast" data-delay="0.8">
                            <figure class="text-center">
                                <img src="img/blog/blog-2.jpg" alt="Blog 2" />
                                <figcaption>
                                    <div class="blog-item-image">
                                        <div class="overlay">
                                            <div class="overlay-inner">
                                                <i class="headline-icon">
                                                    <span>22</span>May
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-item-preview">
                                        <div class="overlay">
                                            <div class="overlay-inner">
                                                    <h3>Kitchen Secrets</h3>
                                                    <span class="blog-preview-date"><i class="icon icon-clock"></i> <time datetime="2015-05-22">May, 22th 2015</time></span>
                                                    <span class="blog-preview-author"><i class="icon icon-user"></i> by Alex Greg</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="col-md-12 text-center blog-btn-read-more">
                            <a href="blog.html" class="button-style1" data-animation="fadeInUp fast" data-delay="1">Read More</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BLOG SECTION -->

            <!-- BEGIN TESTIMONIALS SECTION -->
            <section id="testimonials">
                <div class="parallax-wrapper offset-top-bottom">
                    <div class="parallax" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-800">
                        <div class="container">
                                <img data-animation="fadeInUp fast" data-delay="0" src="img/testimonials.svg" alt="Testimonials"/>
                                <div class="owl-carousel">
                                    <div class="testimonial text-center">
                                        <blockquote data-animation="fadeInUp fast" data-delay="0.2">
                                            <h2 class="text-shadow-style">"Just One of the Best Steak House"</h2>
                                        </blockquote>
                                        <h6 class="testimonial-client-name" data-animation="fadeInUp fast" data-delay="0.5">Linda Parker, Arizona</h6>
                                    </div>
                                    <div class="testimonial text-center">
                                        <blockquote data-animation="fadeInUp fast" data-delay="0.2">
                                            <h2>"Juicy Steak, will come back soon"</h2>
                                        </blockquote>
                                        <h6 class="testimonial-client-name" data-animation="fadeInUp fast" data-delay="0.5">Alex Greg, California</h6>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END TESTIMONIALS SECTION -->

            <!-- BEGIN RESERVATION SECTION -->
            <section id="reservation" data-hash="your-reservation" class="waypoint">
                <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="headline-group">
                                    <i data-animation="fadeInUp fast" data-delay="0" class="headline-icon icon-reservation"></i>
                                    <h2 data-animation="fadeInUp fast" data-delay="0.2">Your Steak is Waiting for you</h2>
                                    <h6 data-animation="fadeInUp fast" data-delay="0.5">Call Us for Your Reservation</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                        <div class="offset-top-bottom col-lg-8 col-md-12 col-xs-12" data-animation="fadeInLeft fast" data-delay="0.8">
                                            <div class="border boxed">
                                                    <form method="post" action="util/send_email.php" class="reservation-form form-horizontal" novalidate="novalidate">
                                                        <label class="col-xs-12" for="name">Your Name</label>
                                                        <input id="name" name="name" type="text" placeholder="Fill your name*" class="col-xs-12 input-md required"/>
                                                        <label class="col-xs-12" for="email">Your email</label>
                                                        <input id="email" name="email" type="text" placeholder="Fill Your Email*" class="col-xs-12 input-md required"/>
                                                        <label class="col-xs-12" for="message">Your Message</label>
                                                        <textarea id="message" name="message" class="col-xs-12 text area required" placeholder="Enter your Message*"></textarea>
                                                        <button id="send" name="send" class="button-style2 btn btn-default pull-right">Send</button>
                                                   </form>
                                             </div>
                                        </div>
                                        <div class="offset-top-bottom col-lg-4 col-xs-12 hidden-xs hidden-sm hidden-md" data-animation="fadeInRight fast" data-delay="0.8">
                                            <figure>
                                                <img src="img/reservation.jpg" alt="Reservation"/>
                                            </figure>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div id="map" data-animation="fadeIn fast" data-delay="0.8"></div>
                <div id="contact" class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="logo-footer" data-animation="fadeInUp fast" data-delay="0.9"><a href="#home">The Butcher - Steak House</a></div>
                            </div>
                            <div id="block-info" class="col-xs-12">
                                <div id="visit-us" class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeInLeft fast" data-delay="1">
                                    <h5>Visit Us</h5>
                                     <ul>
                                        <li>Monday - Friday from 9:00am (CST) - 6:00pm (CST)</li>
                                        <li>Saturday from 10:00am (CST) - 10pm CST</li>
                                        <li>Sunday - Closed</li>
                                    </ul>
                                </div>
                                <div id="contact-info" class="col-md-6 col-sm-6 col-xs-12" data-animation="fadeInRight fast" data-delay="1">
                                    <h5>Steak House</h5>
                                    <ul>
                                        <li>510 W. Loop South Houston, Texas 77027</li>
                                        <li>1 (800) 5-LANDRY (552-6379)</li>
                                        <li>(713) 850-1010</li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-xs-12 text-center" data-animation="fadeInDown fast" data-delay="1">
                                    <ul class="social">
                                        <li><a href="#"><i class="icon icon-skype"></i></a></li>
                                        <li><a href="#"><i class="icon icon-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icon icon-vimeo3"></i></a></li>
                                        <li><a href="#"><i class="icon icon-facebook3"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            <!-- END RISERVATION SECTION -->
            {% include footer.html %}
        </div>
        <script src="js/modernizr/modernizr.js"></script>
        <script src="js/jquery/jquery.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/jquery.stellar/jquery.stellar.min.js"></script>
        <script src="js/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="js/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/smooth-scroll/smooth-scroll.min.js"></script>
        <script src="js/waypoints/waypoints.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="js/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/jquery.isotope/jquery.isotope.min.js"></script>
        <script src="js/jquery.form.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.browser.mobile.js"></script>
        <script src="js/retina.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

